@import url("https://fonts.googleeapis.com/css?familiy=Poppins:700,600");
.home-page {
  align-items: flex-start;
  background-color: white;
  display: flex;
  gap: 125px;
  height: 918px;
  margin-left: 93px;
  margin-top: 100px;
  min-height: 364px;
  width: 1024px;
}

.title-h1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 93px;
  margin-top: 142px;
  min-height: 364px;
  width: 502px;
}

#image-dojou {
  position: absolute;
  width: 660px;
  height: 1020px;
  left: 632px;
  top: 84px;
}

.project-btton {
  padding: 8px 2rem;
  border-radius: 8px;
  border-color: transparent;
}

.button-them {
  position: relative;
  padding: 8px 2rem;
  background-color: #fe481c;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 700;
  background-image: none;
}

.text-position {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.name-title {
  height: 60px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: 10px;
  width: 340px;
}

.devinisi {
  color: #0e0c0b78;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 100px;
  letter-spacing: 2.4;
  line-height: 24px;
  margin-top: 0px;
  width: 500px;
}

.flex-row {
  align-items: center;
  display: flex;
  gap: 30px;
  margin-top: -1px;
  min-width: 340px;
}

.hi-iam {
  height: 64px;
  letter-spacing: 0;
  line-height: normal;
  width: 160px;
}

.kolom-uiux {
  align-items: center;
  background-color: #5562ff;
  border-radius: 30px;
  display: flex;
  height: 60;
  margin-bottom: 2px;
  min-width: 158;
  padding: 5px 33px;
}

.text-uiux {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  font-weight: 700;
  height: 48px;
  letter-spacing: 0;
  line-height: normal;
}

.poppins-bold-cod-gray-40px {
  color: rgba(14, 12, 11, 1);
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 700;
  font-style: normal;
}

.poppins-bold-cod-gray-74px {
  color: #081121;
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  font-weight: 700;
  font-style: normal;
}
